//新規投稿ページ
.proto-new {
	padding-top: 20px;

	input[type="text"],
	textarea {
		border: 0;
		width: 100%;
		line-height: 3;
		transition: all .15s ease-in-out;
		-o-transition: all .15s ease-in-out;
		-moz-transition: all .15s ease-in-out;
		-webkit-transition: all .15s ease-in-out;
		background-color: transparent;
		margin-bottom: 20px;

		&:hover {
			color: lighten(#000,10%);
			box-shadow: 0 1px 1px $shadow;
		}
	}

	.proto-new-title {
		line-height: 60px;
		font-size: 24px;
	}

	.cover-image-upload {
		background: image-url("noimage-big.png") $white no-repeat center center;
		height: 500px;
		position: relative;
		margin-bottom: 20px;

		input {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			opacity: 0;
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			cursor: pointer;
		}
	}

	.list-group-item {
		border: 0;
		margin-bottom: 20px;

		.image-upload {
			background: image-url("noimage.png") $white no-repeat center center;
			height: 200px;
			position: relative;

			input {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				opacity: 0;
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				cursor: pointer;
			}
		}

		.image-upload-plus {
			height: 200px;
			width: 100%;
			text-align: center;

			span {
				color: #D1D7DB;
				font-size: 70px;
				padding-top: 50px;
				display: inline-block;
			}
		}
	}
	.proto-btn {
		max-width: 300px;
		margin: auto;
	}
}
.col-md-3{
	float: left;
	width: 25%;
}


