//hederのscssをかいていこう！
.navbar-default {
	background-color: $white;
	padding: 20px 0;

	.navbar-brand {
		padding: 8px 0 0;
	}

	.btn a {
		color: $white;

		&:hover {
			text-decoration: none;
		}
	}
}