.user-page {
	.user-nav {
		padding: 50px 0;

		.media-object {
			border-radius: 50%;
		}

		button {
			padding-right: 35px;

			img {
				max-width: 18px;
				margin-right: 5px;
			}

			.num {
				font-weight: bold;
			}
		}
	}
}
