//なにこれ 多分投稿されたものにつけるやつのスタイルです
.tag-project {
	height: 10px;
	text-align: center;
}

.tag-name {
	margin-bottom: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	background: #70ADF3;
	color: white;
	font-size: 30px;
	font-weight: 200;
}
